/* Estilos globais para o corpo e títulos */
body {
    font-family: 'Times New Roman', Times, serif;
    color: black; /* Text color */
    font-size: 16px; /* Font size for the body text */
}

h1, h2, h3, h4, h5, h6 {
    font-size: 20px; /* Font size for all headings */
    font-weight: bold; /* Makes the headings bold */
}
