/* This resets the margin and padding of all elements to ensure there is no unexpected extra space */
html, body {
    margin: 0;
    padding: 0;
  }
  
  /* This ensures that the page content occupies at least the full height of the browser window */
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* This pushes the footer to the bottom */
  .container-fluid {
    flex: 1;
  }
  
  /* Style for the footer */
  .text-center {
    text-align: center;
    width: 100%;
    background-color: #27285C;
    color: white;
    padding: 15px;
    position: fixed;
    bottom: 0;
  }
  
